= form_for @cost do |f|
  - if @cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cost.errors.count, "error")} prohibited this cost from being saved:"
      %ul
        - @cost.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :valid_date
    = f.date_field :valid_date
  .field
    = f.label :product
    = f.select :product_id, options_from_collection_for_select(Product.all, :id, :description), include_blank: true
  .actions
    = f.submit 'Save', class: 'btn'
