%h1 Products
.row-fluid
  .span6
    %p
    =form_tag(products_path, {method: :get}) do
      %label{name: :q} Search:
      = text_field_tag :q, params[:q], placeholder: 'Enter Product Number'
  .span6
    =form_tag update_from_salesforce_products_path do
      =submit_tag "Update from SalesForce", class: 'btn pull-right'


=# link_to 'Add New Product', new_product_path

%p Click product number to edit prices
%table.table
  %tr
    %th Product Number
    %th Description
    %th OEM 24x7x4 P&L 1 Year Price
    %th Product Cost
    %th Current List Price
    -#
      %th
      %th

  - @products.each do |product|
    %tr
      %td= link_to product.product_number, product, title: 'Click to edit prices'
      %td= product.description
      %td= num_to_cur(product.current_list_price.annual_price)
      %td= num_to_cur(product.current_cost.price)
      %td= num_to_cur(product.current_list_price.price)
      -#
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

=will_paginate @products

=# link_to 'Add New Product', new_product_path
